<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/chat-page.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <title>Document</title>
</head>
<body>
    <p>Your Profile! - Chat App Logged in as {{username}},</p>
    <a href="/login/">click here to logout</a>

    <h2>User: {{username}}</h2>

    <div>
        <div><label for="chat">Type you message here:</label></div>
        <div><textarea name="chat" id="chat" cols="30" rows="10"></textarea></div>
    </div>

    <div><input type="submit" value="Send"></div>

    <br>
    <div id="chat_history">Lorem ipsum dolor sit amet,
         consectetur adipisicing elit. Nulla nisi voluptatem vero, 
         rem, cumque suscipit sint rerum inventore in corporis sunt, 
         mollitia repellendus quod esse perferendis facere sequi excepturi 
         dolores!
    </div>
</body>
</html>